html {
    font-family: Raleway, sans-serif;
    font-size: 62.5%;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}
header img[src="image/logo/Booki.png"] {
    width: 61.9px;
    height: 19px;
}

header nav ul {
    display: flex;
    gap: 6.8rem;
}

header nav ul li a {
    padding-top: 35px;
    border-top: 2px solid transparent;
}

header nav ul li a:hover {
    padding-top: 35px;
    border-top: 2px solid #007bff;
    color: #007bff;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}
#search-bar p {
    font-size: 1.9rem;
    font-weight: 400;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 3.2rem;
}

.search i {
    display: flex;
    padding: 1.75rem 1.9rem 1.8rem 1.9rem;
    font-size: 2rem;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    width: 1.4rem;
    height: 1.8rem;
}


.search input {
    padding: 1.5rem 1.6rem 1.5rem 1.6rem;
    border: #F2F2F2 1px solid;
    font-size: 1.8rem;
    font-weight: 700;
}

.search input::placeholder {
    color: #000000;
    text-align: center;
}

.search button {
    padding: 1.7rem 1.6rem 1.5rem 1.6rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
}

.filter {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    gap: 1.5rem;
}

.filter span {
    font-weight: 700;
    font-size: 1.8rem;
}

.filter ul {
    display: flex;
    gap: 1.5rem;
}

.filter ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    width: 13rem;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter ul li:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.filter ul li button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
}

.filter ul li i {
    font-size: 1.6rem;
    color: #007bff;
}

.info-filter ul {
    display: flex;  
    align-items: center;
    gap: 1rem;
}

.info-filter ul i {
    color: #007bff;
}

.info-filter ul p {
    font-size: 1.6rem;
    font-weight: 400;
}

.places {
    background-color: #F2F2F2;
    padding: 1.2rem;
    border-radius: 1rem;
}
.places h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    padding-left: 2.5rem;
}
.places ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
    padding: 2.5rem;
    list-style-type: none;
    border-radius: 1rem;
}

.places li {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    width: 40rem;
    height: 33rem;

}

.places li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 1.5rem 1.5rem 0 0;
}

.popular {
    background-color: #f2f2f2;
    padding: 1.2rem;
    border-radius: 1rem;
}
.popular h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    padding-left: 2.5rem;
}
.popular ul {
    display: grid;
    background-color: #ffffff;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.4rem;
    list-style-type: none;
    border-radius: 2rem;
}
.popular li {
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    width: 40rem;
    height: 33rem;
}

.popular li a {
    color: rgb(203, 37, 172);
}